* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a {
    color: inherit;
    text-decoration: none;
    display: block;
}

a:hover, a:focus, a:active {
    color: inherit;
    text-decoration: none;
}

body {
    display: flex;
}

.nav {
    width: 100px;
    min-height: 100vh;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.product-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: calc(100% - 200px);
    margin-left: 30px;
    padding: 20px;
}

.preview {
    background-color: rgba(247, 247, 247, 1);
    width: 300px;
    max-height: 300px;
    margin: 20px;
    padding: 20px;
    border-radius: 25px;
}

.preview__header {
    margin: 0 0 10px 0;
}

p {
    margin: 0 0 5px 0;
}

.preview__image {
    height: 100px;
    width: 100px;
}

.btn {
    margin: 10px 0 0 0;
}